<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705826533007-nm1t4l1qquof0s7t5806cbh0a5fqe462.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705826533007-nm1t4l1qquof0s7t5806cbh0a5fqe462</string>
	<key>API_KEY</key>
	<string>AIzaSyBqtLJTQQv5z3Y5tmKTZ39G_OYpBwRKY08</string>
	<key>GCM_SENDER_ID</key>
	<string>705826533007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cmu.mobiledev.team17.gogoal</string>
	<key>PROJECT_ID</key>
	<string>gogoal-ea98f</string>
	<key>STORAGE_BUCKET</key>
	<string>gogoal-ea98f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705826533007:ios:07f17c0225ce4789798afa</string>
</dict>
</plist>